<div class="row">
  <aside class="col-md4">
    <section class="user_info">
    <h3>Announcement</h3>
    <p><%= @announcement.announcement %></p>
    <p><%= @announcement.expiration %></p>
    </section>
  </aside>
</div>